{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

<main class="dashboard-wrap mb-4">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto">
        <div class="d-flex justify-content-between my-5">
            <a href="{{ url_for('add_password') }}" class="btn btn-primary">Add New Password</a>
            {{ render_form(form, form_type='inline') }}
        </div>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {% if "Error!" in message %}
                <div class="alert alert-danger w-100" role="alert">
                    None of the passwords match
                </div>
                {% else %}
                <div class="alert alert-success w-100" role="alert">
                    {{ message }}
                </div>
                {% endif %}
              {% endfor %}
            {% endif %}
        {% endwith %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Website Name</th>
              <th scope="col">Email</th>
<!--              <th scope="col">Password Hint</th>-->
              <th scope="col">Password Hint</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for password in passwords %}
            <tr>
              <td scope="row">{{ password.website_name }}</td>
              <td>
                <a class="password" href="{{url_for('copy_password', password_id=password.id) }}">
                  {{ password.email }}
                </a>
              </td>
              <td>
                  {{ password.website_password_hint }}
              </td>
              <td>
                <a href="{{url_for('edit_password', password_id=password.id) }}" class="btn btn-primary">Edit</a>
              </td>
              <td>
                <a href="{{url_for('delete_password', password_id=password.id) }}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>


{% include "footer.html" %}
{% endblock %}